
<div class="ENCABEZADO1">
  <img  style="float:left; margin:10px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Usac_logo.png/250px-Usac_logo.png" alt="logo usac" class="logo" >
  <div> <br>
    <div class="enc1">PLAN DE PRESTACIONES</div>
    <div class="enc1">UNIVERSIDAD DE SAN CARLOS DE GUATEMALA</div>
    <div class="enc1">CUENTA CORRIENTE</div>
    
  </div>  

    <div class = "TitTabA"><h2>TABLA DE AMORTIZACIONES</h2></div>
</div>

<div class="ENCABEZADO2">
    <div class="letTam letColor ">{{nombre}}</div><br>
    <div class="letTam">RegistroPersonal: <label class="letColor">{{regPersonal}}</label> </div>
</div>

<div class="ENCABEZADO3">
  <div class="letTam">Monto Original: <label class="letColor">{{montoOriginal | currency:"Q "}} </label> </div>
  <div class="letTam">
      <label class="posTasa">Tasa de Interes: <label class="letColor">{{tasaInteres}}% </label> </label>
      <label class="posPlazo">Plazo: <label class="letColor">{{plazo}} </label> </label>
      <label class="posCuota">Cuota Nivelada: <label class="letColor">{{cuota | currency:"Q "}} </label> </label>
  </div>
  
</div>

<div class="TABLA">
  <div class="cuerpo">
      <div class="encabezadoTabla">
          <div class="nombre bordTit">CIFRAS EN QUETZALES</div>
      </div>
    <div class="titulos">
      <div class="unaLinea bordT">No.</div>
      <div class="unaLinea bordT">MES DE PAGO</div>
      <div class="unaLinea bordT">ABONO A INTERES</div>
      <div class="dosLineas bordT">ABONO A CAPITAL</div>
      <div class="unaLinea bordT">VALOR CUOTA</div>
      <div class="unaLinea bordT">SALDO ACTUAL</div>
      <div class="dosLineas bordT">SEGURO CREDITO</div>
      <div class="dosLineas bordT">SEGURO SIN IVA</div>
      <div class="unaLinea bordT">IVA SEGURO</div>
      <div class="unaLinea bordT">APLICADO</div>

    </div>


    <div class="detalle" >
      <div class="filaD"*ngFor="let filaL of listaDU; let i=index" >
        <div class="bordTF">{{i+1}}</div>
        <div class="registrof bordTF"> {{filaL.detalle.registro}}</div>
        <div class="solicitudf bordTF">{{filaL.detalle.solicitud}}</div>
        <div class="nombref bordTF">{{filaL.detalle.nombre}}</div>
        <div class="contratof bordTF">{{filaL.detalle.contrato}}</div>
        <div class="chequef bordTF">{{filaL.detalle.cheque}}</div>
        <div class="dependenciaf bordTF">{{filaL.detalle.dependencia}}</div>
        <div class="liquidof bordTF">Q {{filaL.detalle.liquido}}</div>
        <div class="firmaTf bordTF"></div>
        <div class="fechaf bordTF"></div>
      </div>
    </div>
  </div>


</div>


