.logo{
    width: 2.5cm;
    height: 2.5cm;     
}
.enc1{
    margin: 0cm 0cm 0.1cm 1cm;
    height: 0.5cm;
    
}
.linEnc{
    height: 1cm;
}
.ENCABEZADO1{
    width: 25cm;
    height: 3.5cm;
    margin: 1cm 0cm 1cm 1cm;
    font:  bold 16px/14px Arial, serif;
}   
.TitTabA{
    margin: 1cm 0cm 1cm 9.5cm;
}
.ENCABEZADO2{
    width: 28cm;
    top: 0cm;
    text-align: center;
    font:  bold 16px/14px Arial, serif;
    margin: 1cm 0cm 1cm 1cm;  
}
.ENCABEZADO3{
    width: 28cm;
    height: 1cm;
    margin: 1cm 1cm 1cm 1cm; 
}
.letColor{
    color: cornflowerblue;
}
.letTam{
    font:  bold 18px/16px Arial, serif;
    height: 0.75cm;
}
.posTasa{
    margin: 1cm 0cm 1cm 0cm
}
.posPlazo{
    margin: 1cm 0cm 1cm 7cm
}
.posCuota{
    margin: 1cm 0cm 1cm 5cm;
}



.TABLA{
    width: 28cm;
    height: 28cm;
    margin: 1cm 0cm 1cm 1cm;
}
.titulos{
    display: grid;
    grid-template-columns: 0.7cm 4.5cm 3.8cm 2.6cm 3.2cm 3.2cm 2.5cm 2.5cm 2.5cm 2.5cm;
    font:  bold 12px/14px Arial, serif;
    text-align: center;
    border-left: 0.4mm solid;
}

.encabezadoTabla{
    display: grid;
    grid-template-columns: 28cm;
    font:  bold 14px/14px Arial, serif;
    text-align: center;
    border-left: 0.4mm solid;
}
.bordTit{
    border-right: 0.4mm solid;
    border-top: 0.4mm solid;
    border-bottom: 0mm solid;
    padding-top: 0cm;
}
.filaD{
    display: grid;
    grid-template-columns: 0.7cm 4.5cm 3.8cm 2.6cm 3.2cm 3.2cm 2.5cm 2.5cm 2.5cm 2.5cm;
    font: 11px/14px , serif;
    /*text-align: center;*/
    border-left: 0.4mm solid;
}

.bordT{
    border-right: 0.4mm solid;
    border-top: 0.4mm solid;
    border-bottom: 0.4mm solid;
    padding-top: 0.2cm;
}

.bordTF{
    border-right: 0.4mm solid;
    border-bottom: 0.4mm solid;
    text-align: center;
    padding-top: 0.1cm;
}

.nombre{
    padding-top: 0.10cm;
}
.unaLinea{
    padding-top: 0.35cm;
}
.dosLineas{
    padding-top: 0.20cm;
}
.detalle{
    height: 13cm;
}

.nombref, .dependenciaf{
    text-align: left;
    padding-left: 0.1cm;
}
.fecha, .recibido, .firmaT{
    padding-top: 0.1cm
}

.nombref, .dependenciaf{
    text-align: left;
    padding-left: 0.1cm;
}





